---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Cut an Empty Liter Bottle into half",
    description:
      "Cutting an empty liter bottle in half can serve as a makeshift purification tool.",
    icon: "bx:bxs-user",
  },
  {
    title: "Place the bottle upside down, put cotton",
    description:
      "Placing the bottle upside down and filling it with layers of cotton acts as a rudimentary filtration system, effectively trapping large particles and sediment from water sources.",
    icon: "bx:bxs-user",
  },
  {
    title: "Pour the sand",
    description:
      "Pouring sand into the bottle adds an additional layer of filtration, effectively trapping finer particles and impurities from the water.  ",
    icon: "bx:bxs-user",
  },
  {
    title: "Put Charcoal in the liter bottle",
    description:
      "Adding charcoal to the liter bottle enhances water purification by absorbing chemicals, toxins, and unpleasant odors, resulting in cleaner and safer drinking water.",
    icon: "bx:bxs-user",
  },
  {
    title: "Put Gravel/Pebbles",
    description:
      "Adding gravel or pebbles to the bottle provides stability and facilitates water flow through the filtration layers, ensuring efficient purification of the water.",
    icon: "bx:bxs-user",
  },
  {
    title: "Try it with dirty water!",
    description:
      "After assembling the filtration layers, pour dirty water into the bottle and observe as the filtration system effectively removes impurities, leaving behind cleaner and safer drinking water.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start purifying water
  </h2>
  <p class="text-lg mt-4 text-slate-600">
   Follow the below instructions
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
